[Unit]
Description=start launcher after boot

[Service]
Type=simple
ExecStart=/usr/bin/albert
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=default.target

