[Unit]
Description=clipboard manager

[Service]
Type=simple
ExecStart=/usr/bin/copyq
Restart=on-failure
RestartSec=30s

[Install]
# not functional, see https://unix.stackexchange.com/a/598055/218172
WantedBy=graphical-session.target
